name: java-maven-gradle-workflow

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      java_version:
        required: true
        type: string
      build_tool:
        required: true
        type: string
      maven_goals:
        required: false
        default: "clean verify"
        type: string
      Sonar_ProjectKey:
        type: string
      Sonar_ProjectName:
        type: string
      Sonar_ProjectVersion:
        type: string

    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build_and_analyze:
    runs-on: [self-hosted, "${{ inputs.runner }}"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.java_version }}
        distribution: temurin
        cache: ${{ inputs.build_tool }}

    - name: Build with Maven
      if: ${{ inputs.build_tool == 'maven' }}
      run: mvn ${{ inputs.maven_goals }}

    - name: Build with Gradle
      if: ${{ inputs.build_tool == 'gradle' }}
      run: ./gradlew build

    - name: SonarQube Analysis
      shell: powershell
      run: |
        C:\softwares\sonar-scanner-4.1.0.1829-windows\bin\sonar-scanner.bat `
          -D"sonar.projectKey=${{ inputs.Sonar_ProjectKey }}" `
          -D"sonar.projectName=${{ inputs.Sonar_ProjectName }}" `
          -D"sonar.projectVersion=${{ inputs.Sonar_ProjectVersion }}" `
          -D"sonar.host.url=http://localhost:9000" `
          -D"sonar.login=${{ secrets.SONAR_TOKEN }}" `
          -D"sonar.sources=gameoflife-core/src/main/java,gameoflife-web/src/main/java" `
          -D"sonar.tests=gameoflife-core/src/test/java,gameoflife-web/src/test/java,gameoflife-acceptance-tests/src/test/java" `
          -D"sonar.java.binaries=gameoflife-core/target/classes,gameoflife-web/target/classes" `
          -D"sonar.java.test.binaries=gameoflife-core/target/test-classes,gameoflife-web/target/test-classes" `
          -D"sonar.coverage.jacoco.xmlReportPaths=gameoflife-web/target/jacoco-report/jacoco.xml"
