name: java-maven-gradle-workflow

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runner:
        description: "Runner to use"
        required: true
        type: string
      java_version:
        description: "Java version to use"
        required: true
        type: string
      build_tool:
        description: "select the build tool whether it is maven or gradle"
        required: true
        type: string
      maven_goals:
        description: "Maven goals to run (e.g. clean install)"
        required: false
        default: "clean install"
        type: string
      Sonar_ProjectKey:
        description: "Sonar project key"
        type: string
      Sonar_ProjectName:
        description: "Sonar project key"
        type: string
      Sonar_ProjectVersion:
        description: "Sonar project key"
        type: string
      Sonar_JavaSource:
        description: "java version"
        type: string
      Sonar_HostUrl:
        description: "Sonarqube dashboard url"
        type: string
      Sonar_sources:
        description: "Sonar sources source code path"
        type: string
      Sonar_tests:
        description: "Sonar project key"
        type: string
      Sonar_Javabinaries:
        description: "Sonar java binaries"
        type: string
      Sonar_Jacaco_ReportPaths:
        description: "Sonar jacoco report paths"
        type: string
      Sonar_Junit_ReportPaths:
        description: "Sonar junit report paths"
        type: string

    secrets:
      Jfrog_Username:
        required: true
      Jfrog_Password:
        required: true
      Sonar_Username:
        required: true
      Sonar_Password:
        required: true

jobs:
  build_and_deploy:
    runs-on: [self-hosted, "${{ inputs.runner }}"]
    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.java_version }}
        distribution: 'temurin'
        cache: ${{ inputs.build_tool }}


    - name: compile the maven code
      if: ${{ inputs.build_tool == 'maven' }}
      run: mvn clean verify

    - name: compile the gradle code
      if: ${{ inputs.build_tool == 'gradle' }}
      run: ./gradlew build -x test


    - name: sonar static code analysis
      shell: powershell
      run: |
        & "C:\softwares\sonar-scanner-4.8.0.2856-windows\bin\sonar-scanner.bat" `
          "-Dsonar.projectKey=${{ inputs.Sonar_ProjectKey }}" `
          "-Dsonar.projectName=${{ inputs.Sonar_ProjectName }}" `
          "-Dsonar.projectVersion=${{ inputs.Sonar_ProjectVersion }}" `
          "-Dsonar.java.source=${{ inputs.Sonar_JavaSource }}" `
          "-Dsonar.host.url=${{ inputs.Sonar_HostUrl }}" `
          "-Dsonar.login=${{ secrets.Sonar_Username }}" `
          "-Dsonar.password=${{ secrets.Sonar_Password }}" `
          "-Dsonar.sources=${{ inputs.Sonar_sources }}" `
          "-Dsonar.tests=${{ inputs.Sonar_tests }}" `
          "-Dsonar.java.binaries=${{ inputs.Sonar_Javabinaries }}" `
          "-Dsonar.coverage.jacoco.xmlReportPaths=${{ inputs.Sonar_Jacaco_ReportPaths }}" `
          "-Dsonar.junit.reportPaths=${{ inputs.Sonar_Junit_ReportPaths }}"