name: java-maven-gradle-ci-workflow

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runner:
        description: "Runner to use"
        required: true
        type: string
      java_version:
        description: "Java version to use"
        required: true
        type: string
      build_tool:
        description: "select the build tool whether it is maven or gradle"
        required: true
        type: string
      maven_goals:
        description: "Maven goals to run (e.g. clean install)"
        required: false
        default: "clean install"
        type: string
      Sonar_ScannerHome:
        description: "Sonar scanner home path"
        type: string
      Sonar_ProjectKey:
        description: "Sonar project key"
        type: string
      Sonar_ProjectName:
        description: "Sonar project name"
        type: string
      Sonar_JavaSource:
        description: "java version"
        type: string
      Sonar_sources:
        description: "Sonar sources source code path"
        type: string
      Sonar_tests:
        description: "Sonar project key"
        type: string
      Sonar_Javabinaries:
        description: "Sonar java binaries"
        type: string
      Sonar_Jacaco_ReportPaths:
        description: "Sonar jacoco report paths"
        type: string
      Sonar_Junit_ReportPaths:
        description: "Sonar junit report paths"
        type: string
      Artifact_FileName:
        description: "Artifacts to upload on to jfrog"
        type: string
      Jfrog_RepoName:
        description: "jfrog repo name to upload artifacts"
        type: string
      upload_artifact:
        description: "Set as true if you want to upload artifacts to jfrog"
        type: string
        required: true
        default: "false"
      run_sonar_analysis:
        description: "Set as true if you want to run sonar analysis"
        type: string
        required: true
        default: "false"

    secrets:
      Jfrog_Username:
        required: true
      Jfrog_Password:
        required: true
      Sonar_HostUrl:
        required: true
      Sonar_Token:
        required: true
      Jfrog_Url:
        required: true

jobs:
  build_and_deploy:
    runs-on: [self-hosted, "${{ inputs.runner }}"]
    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.java_version }}
        distribution: 'temurin'
        cache: ${{ inputs.build_tool }}


    - name: compile the maven code
      if: ${{ inputs.build_tool == 'maven' }}
      run: mvn clean verify -Drevision=${{ github.run_number }}

    - name: compile the gradle code
      if: ${{ inputs.build_tool == 'gradle' }}
      run: ./gradlew build -x test


    - name: sonar static code analysis
      if: inputs.run_sonar_analysis == 'true'
      shell: powershell
      run: |
        & "${{ inputs.Sonar_ScannerHome }}" `
          "-Dsonar.projectKey=${{ inputs.Sonar_ProjectKey }}" `
          "-Dsonar.projectName=${{ inputs.Sonar_ProjectName }}" `
          "-Dsonar.projectVersion=${{ github.run_number }}" `
          "-Dsonar.java.source=${{ inputs.Sonar_JavaSource }}" `
          "-Dsonar.host.url=${{ secrets.Sonar_HostUrl }}" `
          "-Dsonar.login=${{ secrets.Sonar_Token }}" `
          "-Dsonar.sources=${{ inputs.Sonar_sources }}" `
          "-Dsonar.tests=${{ inputs.Sonar_tests }}" `
          "-Dsonar.java.binaries=${{ inputs.Sonar_Javabinaries }}" `
          "-Dsonar.coverage.jacoco.xmlReportPaths=${{ inputs.Sonar_Jacaco_ReportPaths }}" `
          "-Dsonar.junit.reportPaths=${{ inputs.Sonar_Junit_ReportPaths }}"

    - name: SonarQualityGate
      if: inputs.run_sonar_analysis == 'true'
      #Calling composite action
      uses: mani5a3/github_actions_poc/.github/actions/sonar-quality-gate@main
      with:
        sonar_host_url: ${{ secrets.Sonar_HostUrl }}
        sonar_token: ${{ secrets.Sonar_Token }}
    
    - name: Upload artifact to JFrog
      uses: jfrog/setup-jfrog-cli@v4
      if: inputs.upload_artifact == 'true'
      with:
        version: latest
      env:
        JF_URL: ${{ secrets.Jfrog_Url }}
        JF_USER: ${{ secrets.Jfrog_Username }}
        JF_PASSWORD: ${{ secrets.Jfrog_Password }}

    - name: Upload build artifact
      if: inputs.upload_artifact == 'true'
      run: |
        jf rt u "${{ inputs.Artifact_FileName }}" "${{ inputs.Jfrog_RepoName }}/${{ github.run_number }}/"
