name: java-maven-gradle-workflow

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runner:
        description: "Runner to use"
        required: true
        type: string
      java_version:
        description: "Java version to use"
        required: true
        type: string
      build_tool:
        description: "select the build tool whether it is maven or gradle"
        required: true
        type: string
      maven_goals:
        description: "Maven goals to run (e.g. clean install)"
        required: false
        default: "clean install"
        type: string
      Sonar_ProjectKey:
        description: "Sonar project key"
        type: string
      Sonar_ProjectName:
        description: "Sonar project key"
        type: string
      Sonar_ProjectVersion:
        description: "Sonar project key"
        type: string

    secrets:
      Jfrog_Username:
        required: true
      Jfrog_Password:
        required: true
      Sonar_Username:
        required: true
      Sonar_Password:
        required: true

jobs:
  build_and_deploy:
    runs-on: [self-hosted, "${{ inputs.runner }}"]
    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.java_version }}
        distribution: 'temurin'
        cache: ${{ inputs.build_tool }}


    # - name: install maven dependencies
    #   if: ${{ inputs.build_tool == 'maven' }}
    #   run:  mvn -B dependency:resolve

    # - name: install gradle dependencies
    #   if: ${{ inputs.build_tool == 'gradle' }}
    #   run: ./gradlew dependencies

    - name: compile the maven code
      if: ${{ inputs.build_tool == 'maven' }}
      run: mvn clean verify

    - name: compile the gradle code
      if: ${{ inputs.build_tool == 'gradle' }}
      run: ./gradlew build -x test


    - name: sonar static code analysis
      shell: powershell
      run: |
        C:\softwares\sonar-scanner-4.1.0.1829-windows\bin\sonar-scanner.bat `
          -D"sonar.projectKey=${{ inputs.Sonar_ProjectKey }}" `
          -D"sonar.projectName=${{ inputs.Sonar_ProjectName }}" `
          -D"sonar.projectVersion=${{ inputs.Sonar_ProjectVersion }}" `
          -D"sonar.sources=." `
          -D"sonar.host.url=http://localhost:9000" `
          -D"sonar.login=${{ secrets.Sonar_Username }}" `
          -D"sonar.password=${{ secrets.Sonar_Password }}" `
          -D"sonar.java.binaries=**/target/classes" `
          -D"sonar.tests="`
          -D"sonar.coverage.jacoco.xmlReportPaths=**/target/site/jacoco/jacoco.xml"
