name: java-maven-gradle-workflow

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runner:
        description: "Runner to use"
        required: true
        type: string
      java_version:
        description: "Java version to use"
        required: true
        type: string
      build_tool:
        description: "select the build tool whether it is maven or gradle"
        required: true
        type: string
      maven_goals:
        description: "Maven goals to run (e.g. clean install)"
        required: false
        default: "clean install"
        type: string

    secrets:
      Jfrog_Username:
        required: true
      Jfrog_Password:
        required: true
      Sonar_Username:
        required: true
      Sonar_Password:
        required: true

jobs:
  build_and_deploy:
    runs-on: [self-hosted, "${{ inputs.runner }}"]
    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.java_version }}
        distribution: 'temurin'
        cache: ${{ inputs.build_tool }}

    - name: Install dependencies
      shell: bash
      run: |
        if [ "${{ inputs.build_tool }}" = "maven" ]; then
          mvn -B dependency:resolve
        else
          ./gradlew dependencies
        fi

    - name: compile the code
      shell: bash
      run: |
        if [ "${{ inputs.build_tool }}" = "maven" ]; then
          mvn compile
        else
          ./gradlew build -x test
        fi

    - name: sonar static code analysis
      shell: powershell
      run: |
        C:\\softwares\\sonar-scanner-4.1.0.1829-windows\\bin\\sonar-scanner `
          -Dsonar.projectKey=my-project `
          -Dsonar.sources=. `
          -Dsonar.host.url=http://localhost:9000 `
          -Dsonar.login=${{ secrets.Sonar_Username }} `
          -Dsonar.password=${{ secrets.Sonar_Password }} `
          -Dsonar.java.binaries=**/target/classes
